@{
    ViewData["Title"] = "Home Page";
}

<header class="jumbotron">
    <h1>Dr Derek Peacock</h1>
    <h2>CO599 Coursework 1 -  - Refective ePortfolio</h2>
</header>
<main class="main-text row">
    <section class="col-lg-6">
        <h2>Introduction (3 marks) (UCAS)</h2>
        <p>
            At school, I was always interested in the science subjects of
            chemistry, biology and physics.  I enjoyed building electronic
            devices such as radios from basic components, and that led
            on to building my own computer, and setting up and running
            a local computer club.
        </p>
        <p>
            The computer had the extra element that it could be programmed
            to do a whole variety of tasks.  I enjoyed the challenge of
            working out the right instructions in order to achieve some
            goal. To start with that was simple 2D games, but later involved
            building and publishing websites
        </p>
        <p>
            I enrolled on this course in order to develop and widen my
            skills and knowledge of computing in order to decide on a
            suitable career.  I intend now to focus on my web development
            skills and in particular mobile app development.
        </p>
    </section>
    <section class="col-lg-6">
        <h2>Content Summary</h2>
        <p>
            This portfolio provides details of:-
        </p>
        <ul>
            <li><a href="#">My Professional Skills</a>: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lacinia eget lorem in scelerisque. </li>
            <li><a href="#">My Personal Development</a>: Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer consequat nibh et porttitor luctus. </li>
            <li><a href="#">Employer Information</a>: In vestibulum, neque sed pharetra lobortis, lacus lacus suscipit elit, non consectetur erat sem quis velit. Suspendisse cursus mauris vitae metus venenatis, id venenatis justo venenatis.</li>
            <li><a href="#">Technical Development</a>: Nam et semper dui. In auctor eros at ultricies lacinia. Vestibulum vestibulum augue sit amet dolor ultricies, in iaculis sapien aliquam. Fusce tincidunt commodo magna, a pellentesque sem consectetur nec. </li>
            <li><a href="#">Discussion and Analysis</a>: Cras quis nulla in nibh volutpat fringilla non nec nisl. Sed blandit, erat eget egestas tristique, elit arcu congue sapien, et iaculis nisi felis malesuada nibh.</li>
        </ul>
    </section>
</main>
