@model ePortfolio.Models.Skill

@{
    ViewData["Title"] = "Details";
}


<header class="jumbotron">
    <h1>Dr Derek Peacock</h1>
    <h2>Skill No @Model.SkillNo: @Model.Name</h2>
</header>

<partial name="_SkillView.cshtml" for="@Model" />

<div>
    <a class="btn btn-success" asp-action="Edit" asp-route-id="@Model.SkillID">Edit</a> |
    <a class="btn btn-info" asp-action="Index">Back to List</a>
</div>
